{% load static %}
{% load crispy_forms_tags %}
<form action="" method="POST">
    <style>
        input[type=submit] {
        width: 100%;
        background-color: #00008b;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 37%;
}
    </style><link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <body>
        <div class="topnav">
            <a href="http://127.0.0.1:8000/lab-4/">Index</a>
            <a class="active" href="http://127.0.0.1:8000/lab-4/add">Add</a>
            <a href="http://127.0.0.1:8000/lab-4/note-list">Note</a>
       </div>
    <table>
        <tr>
            <td>{%csrf_token %}</td>
            <td>{{ form }}</td>
        </tr>
    </table>
    <input type="submit" value="Submit">
    </body>
</form>