<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <style></style><link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <link rel="stylesheet" href="{% static 'css/tutorial.css' %}" />
  </head>
  <body>
    <div class="topnav">
       <a class="active"  href="http://127.0.0.1:8000/lab-4/">Index</a>
       <a href="http://127.0.0.1:8000/lab-4/add">Add</a>
       <a href="http://127.0.0.1:8000/lab-4/note-list">Note</a>
    </div>
    <p></p>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for note in notes %}
      </tr>
        <td>{{  note.to }} </td>
        <td>{{  note.fromm }}</td>
        <td>{{  note.title }}</td>
        <td>{{  note.message  }}</td>
      </tr>
      {% endfor %}
      <!-- EXAMPLE SECTION -->
      <!-- <tr>
        <td>Asmara Nugi</td>
        <td>1706032156</td>
        <td>May 1, 1999</td>
      </tr>
      <tr>
        <td>Fadli Rais</td>
        <td>1706032370</td>
        <td>Sept 11, 1998</td>
      </tr>-->
      <!-- END SECTION -->
    </tr>
    </table>
  </body>
</html>
