{% load static %}
<html>
<head>
<style>
.card {
    background-color: azure;
    color:cadetblue;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    width:10%;
    box-shadow: 5px 10px;
}
</style><link rel="stylesheet" href="{% static 'css/nav.css' %}" />
</head>
<body>
    <div class="topnav">
         <a href="http://127.0.0.1:8000/lab-4/">Index</a>
         <a href="http://127.0.0.1:8000/lab-4/add">Add</a>
         <a class="active" href="http://127.0.0.1:8000/lab-4/note-list">Note</a>
    </div>
    <ul>
        {%for note in notes%}
        <li>
        <div class="card">
            <h2><b>{{ note.title }}</b><h2>
            <h4>To: {{ note.to }}</h4>
            <p>{{ note.message }}</p>
            <h4>From: {{ note.fromm }}</h4>
        </li>
        {% endfor %}
    </ul>
</body>
</html>