.topnav {
    overflow: hidden;
    background-color: #00008b;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:cadetblue;
    color: #00008b;
  }
  
  .topnav a.active {
    background-color:cadetblue;
    color: white;
}