#main {
    background­-color: #f0f0f0;
    color: red;
    font­-family: georgia;
    font­-size: 0.8em;
  }
h1 {
  color: #fca205;
  font-family: "Monospace";
  font-style: bold;
}
th {
  color:blue;
  font-family:"Monospace";
  font-style:bold;
  font-size:200%;
  padding:15px;
  border:2px solid black;
  border-collapse: collapse;
}
td{
  font-size:150%;
  padding:15px;
  border:2px solid black;
  border-collapse: collapse;
}
table{
  border:2px solid black;
  border-collapse: collapse;
}